<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <!--日志级别：TRACE < DEBUG < INFO < WARN < ERROR < FATAL-->
    <properties>
        <!-- 基本的文件的输出信息的配置 -->
        <property name="SERVER_NAME">java-project</property>
        <property name="LOG_HOME">${sys:catalina.home}/logs</property>
        <property name="CATALINA_BASE">${sys:catalina.home}/logs</property>
    </properties>
    <appenders>
        <!-- 定义控制台输出 -->
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- catalina.out -->
        <RollingFile name="CATALINA_BASE_ROLLING" fileName="${CATALINA_BASE}/catalina.out" filePattern="${CATALINA_BASE}/catalina_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!--<SizeBasedTriggeringPolicy size="102400 KB"/>-->
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>

        <!-- DEBUG -->
        <RollingFile name="DEBUG" fileName="${LOG_HOME}/${SERVER_NAME}_debug.log" filePattern="${LOG_HOME}/${SERVER_NAME}_debug_%d{yyyy-MM-dd}_%i.log">
            <!--<JsonLayout/>-->
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!--<SizeBasedTriggeringPolicy size="102400 KB"/>-->
            </Policies>
            <DefaultRolloverStrategy max="60"/>
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <!-- INFO -->
        <RollingFile name="INFO" fileName="${LOG_HOME}/${SERVER_NAME}_info.log" filePattern="${LOG_HOME}/${SERVER_NAME}_info_%d{yyyy-MM-dd}_%i.log">
            <!--<JsonLayout/>-->
            <PatternLayout pattern="%d %p %c{10} [%t] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!--<SizeBasedTriggeringPolicy size="102400 KB"/>-->
            </Policies>
            <DefaultRolloverStrategy max="60"/>
            <Filters>
                <!--<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>-->
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <!-- ERROR-->
        <RollingFile name="ERROE" fileName="${LOG_HOME}/${SERVER_NAME}_error.log" filePattern="${LOG_HOME}/${SERVER_NAME}_error_%d{yyyy-MM-dd}_%i.log">
            <!--<JsonLayout/>-->
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!--<SizeBasedTriggeringPolicy size="102400 KB"/>-->
            </Policies>
            <DefaultRolloverStrategy max="60"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
                <ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </RollingFile>

    </appenders>
    <loggers>

        <logger name="" level="DEBUG"/>
        <logger name="org.springframework.jdbc" level="DEBUG"/>

        <!--myibatis log configure -->
        <logger name="org.apache.ibatis" level="debug" />
        <logger name="java.sql.Connection" level="INFO" />
        <logger name="java.sql.Statement" level="INFO" />
        <logger name="java.sql.PreparedStatement" level="INFO" />

        <!--当前开启info日志-->
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="CATALINA_BASE_ROLLING" />
            <appender-ref ref="INFO"/>
            <appender-ref ref="ERROE"/>
            <appender-ref ref="DEBUG"/>
        </root>
    </loggers>
</configuration>
